@using Microsoft.AspNetCore.Identity;
@model (Message message, TextTranslator tt, IdentityUser user, Profile prof)

@{
	//
}

@if (Model.message == null)
{
	<h2>No message provided</h2>
}
else
{
	if (Model.tt != null)
	{
		<div class="border border-5 border-primary rounded">
			<div class="mx-3" style="clear: both">
			@if(Model.message.username == Model.user.UserName) {
				<h3 style="float: left">@Model.message.username</h3>
			} else {
				@* <h3 style="float: left"><a asp-controller="Home" asp-action="DM">@Model.message.username</a></h3> *@
				<form asp-controller="Home" asp-action="DM" method="post">
					<input hidden name="username" type="text" value="@Model.message.username" />
					<button type="submit" class="">@Model.message.username</button>
				</form>
			}
			<h4 style="display: inline-block" class="ogLanguage">  Original Language @Model.message.language</h4>
			</div>
		<br />
		<h3>@Model.tt.translateToPassedIn(Model.message.Contents, Model.message.language, Model.prof.Language).Result</h3>
		</div>
	}
	else
	{
		<h3>@Model.message.username</h3><h3 class="ogLanguage">Original Language @Model.prof.Language</h3><br />
		<h3>@Model.message.Contents</h3>
	}
}


