@using Microsoft.AspNetCore.Identity;
@model (Message message, TextTranslator tt, IdentityUser user, Profile prof)

@{
    //
}

@if (Model.message == null)
{
    <h2>No message provided</h2>
}
else
{
    if (Model.tt != null)
    {
        <div style="clear: both">
            <h3 style="float: left">@Model.user.UserName</h3>
            <h2 style="display: inline-block" class="ogLanguage">  Original Language @Model.prof.Language</h2>
            </div>
        <br />
        <h3>@Model.tt.translateToPassedIn(Model.message.Contents, Model.prof.Language).Result</h3>
    }
    else
    {
        <h3>@Model.user.UserName</h3><h3 class="ogLanguage">Original Language @Model.prof.Language</h3><br />
        <h3>@Model.message.Contents</h3>
    }
}


