@{
    ViewData["Title"] = "Home Page";
}
@model (TextTranslator tt, Profile prof)

@if (Model.tt == null || Model.prof == null)
{
    <div class="text-center">
        <h1 class="display-4">Welcome to</h1>
        <h4>The</h4>
        <h3><b><i>Universal Chat Room</i></b></h3>
        <p>
            Chat in whatever language you speak, and don't worry about others' being able to understand you,
            because this chat room will automatically translate messages into the users' selected language!
        </p>
        <p>If you're ready to begin chatting, be sure to login or register!</p>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">@Model.tt.translateToPassedIn("Welcome to", "en-US", Model.prof.Language).Result</h1>
        <h4>@Model.tt.translateToPassedIn("The", "en-US", Model.prof.Language).Result</h4>
        <h3><b><i>@Model.tt.translateToPassedIn("Universal Chat Room", "en-US", Model.prof.Language).Result</i></b></h3>
        <p>
            @Model.tt.translateToPassedIn("Chat in whatever language you speak, and don't worry about others' being able to understand you, because this chat room will automatically translate messages into the users' selected language!", "en-US", Model.prof.Language).Result
        </p>
        <p>@Model.tt.translateToPassedIn("If you're ready to begin chatting, be sure to login or register!", "en-US", Model.prof.Language).Result</p>
    </div>
}